{% extends "base.html" %}
{% block title %}404啦，你要的页面没找到哎！{% endblock %}
{% block head %}
<style>
    .page-404 {
        width: auto;
        text-align: center;
        color: #fff;
    }
</style>
{% endblock %}
{% block content %}
  <!-- content start -->
  <div class="page-404">
        <p>没有找到你要的页面，返回<a href="/">首页</a></p>
        <pre>
          .----.
       _.'__    `.
   .--($)($$)---/#\
 .' @          /###\
 :         ,   #####
  `-..__.-' _.-\###/
        `;_:    `"'
      .'"""""`.
     /,  ya ,\\
    //  404!  \\
    `-._______.-'
    ___`. | .'___
   (______|______)
        </pre>
  </div>
  <!-- content end -->
{% endblock %}
