<!doctype html>
<html>
<head>
    <meta charset="utf8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="keywords" content="SaintIC, Blog, IT" />
    <meta name="description" content="运维, 开发" />
    <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">
    {% block head %}{% endblock %}
    <!--[if lt IE 9]>
        <script src="/static/js/modernizr.js"></script>
    <![endif]-->
    </head>
<body>
<!-- nav -->
<header>
    <div id="logo"><a href="/"></a></div>
    <nav class="topnav" id="topnav">
        <a href="index.html"><span>首页</span><span class="en">Protal</span></a>
        <a href="about.html"><span>关于我</span><span class="en">About</span></a>
        <a href="newlist.html"><span>慢生活</span><span class="en">Life</span></a>
        <a href="moodlist.html"><span>碎言碎语</span><span class="en">Doing</span></a>
        <a href="share.html"><span>模板分享</span><span class="en">Share</span></a>
        <a href="knowledge.html"><span>学无止境</span><span class="en">Learn</span></a>
        <a href="book.html"><span>留言版</span><span class="en">Gustbook</span></a></nav>
    </nav>
</header>

{% block content %}{% endblock %}

<footer>
    <p>Copyright &copy; 2016 RSS</p>
</footer>

<script src="/static/js/silder.js"></script>
</body>
</html>
