{% extends "base/user.html" %}
{% block title %}SaintIC User Home for {{ username }}{% endblock %}
{% block nav %}
    {% if request.args.get('action') %}
        <li><a href="{{ url_for('home', username=username) }}">返回个人中心</a></li><br />
        {% if request.args.get('action') == "profile" %}
            {# 查看资料 #}
              {% if data['cname'] %}
                  <p><li>{{ profile['cname'] }}：{{ data['cname'] }}</li></p>
              {% endif %}
              {% if data['email'] %}
                  <p><li>{{ profile['email'] }}：{{ data['email'] }}</li></p>
              {% endif %}
              {% if data['url'] %}
                  <p><li>{{ profile['url'] }}：  {{ data['url'] }}</li></p>
              {% endif %}
              {% if data['motto'] %}
                  <p><li>{{ profile['motto'] }}：{{ data['motto'] }}</li></p>
              {% endif %}
              {% if data['extra'] %}
                  <p><li>{{ profile['extra'] }}：{{ data['extra'] }}</li></p>
              {% endif %}
        {% elif request.args.get('action') == "data" %}
            {# 修改个人资料 #}
            <form action="{{ url_for('user_update',username=username) }}" method="POST">
              <p>姓名：<input type="text" name="cname" /></p>
              <p>邮箱：<input type="email" name="email" /></p>
              <p>格言：<input type="text" name="motto" /></p>
              <p>网址：<input type="url" name="url" /></p>
              <p>介绍：<input type="textarea" name="extra"/></p>
              <input type="submit" value="提交" />
              <input type="reset" value="重置" />
            </form>
        {% elif request.args.get('action') == "avatar" %}
            {# 修改头像 #}
            <form action="{{ url_for('user_upload',username=username) }}" method="post" enctype="multipart/form-data">
                <p>选择头像图片(仅支持jpg/jpeg/png/gif)：</p>
                <p><input type="file" name="file" /><p />
                <input type="submit" name="submit" value="提交" />
            </form>
        {% elif request.args.get('action') == "passwd" %}
            {# 修改密码 #}
            <form action="{{ url_for('user_passwd',username=username) }}" method="post">
                <P>输入新密码： <input type="password" name="password" id="pw1" required onkeyup="validate()" /></P>
                <p>确认新密码： <input type="password" name="password" id="pw2" required onkeyup="validate()" /></p>
                <p><span id="tishi"></span></p>
                <p><input type="submit" value="提交" id="submit" />
                <input type="reset" value="重置"/></p>
            </form>
            <script>
                function validate() {
                    var pw1 = document.getElementById("pw1").value;
                    var pw2 = document.getElementById("pw2").value;
                    if(pw1 == pw2) {
                      document.getElementById("tishi").innerHTML="<font color='green'>两次密码相同</font>";
                      document.getElementById("submit").disabled = false;
                    } else {
                      document.getElementById("tishi").innerHTML="<font color='red'>两次密码不相同</font>";
                      document.getElementById("submit").disabled = true;
                    }
                    if(pw1.length<6 || pw2.length<6) {
                      document.getElementById("tishi").innerHTML="<font color='red'>至少6位密码</font>";
                      document.getElementById("submit").disabled = true;
                    }
                }
            </script>
        {% elif request.args.get('action') == "create" %}
            {# 创建用户 #}
            <script type="text/javascript" src="{{ url_for('static', filename='js/home.js') }}"></script>
            <form action="{{ url_for('user_create',username=username) }}" method="post">
                <P>用户账号： <input type="text" name="new_username" id="user" required /></P>
                <P>初始密码： <input type="password" name="new_password" id="pw1" required onkeyup="checklong()" /></P>
                <p>确认密码： <input type="password" name="new_password" id="pw2" required onkeyup="validate()" /></p>
                <p><span id="tishi">{% if msg %}{{ msg }}{% endif %}</span></p>
                <p><input type="submit" value="提交" id="submit" />
                <input type="reset" value="重置"/></p>
            </form>
        {% elif request.args.get('action') == "delete" %}
            {# 删除用户 #}
            <form action="{{ url_for('user_del',username=username) }}" method="post">
                <P>删除的用户账号： <input type="text" name="del_username" required /></P>
                <p><span>{% if msg %}{{ msg }}{% endif %}</span></p>
                <p><input type="submit" value="提交" id="submit" />
                <input type="reset" value="重置"/></p>
            </form>
        {% endif %}
    {% else %}
        <li><a href="{{ url_for('index') }}">首页</a></li>
        <li><a href="{{ url_for('home', username=username, action='profile') }}">我的资料</a></li>
        {% if username == "admin" %}
            <li><a href="{{ url_for('home', username=username, action='create') }}">创建用户</a></li>
            <li><a href="{{ url_for('home', username=username, action='delete') }}">删除用户</a></li>
        {% endif %}
        <li><a href="{{ url_for('logout') }}">注销</a></li>
        <p></p>
        <li><a href="#">发表文章</a></li>
        <li><a href="{{ url_for('home', username=username, action='data') }}">修改资料</a></li>
        <li><a href="{{ url_for('home', username=username, action='avatar') }}">修改头像</a></li>
        <li><a href="{{ url_for('home', username=username, action='passwd') }}">修改密码</a></li>
    {% endif %}
{% endblock %}
