<div id="fatfooter">
  <ul class="fat">
      <div class="links">
        <ul>
          <li><a style="font-weight:bold; font-size:16px; color:#696666; background:#242221">友情链接</a></li>
          <li><a href="/">杨青博客网站</a></li>
          <li><a href="/">杨青博客网站</a></li>
          <li><a href="/">杨青博客网站</a></li>
          <li class="more"><a href="/link.html">更多链接>></a></li>
          <li class="exchange"><a href="mailto:staugur@saintic.com">申请交换链接</a></li>
        </ul>
      </div>
      <div class="links">
        <ul>
          <li><a style="font-weight:bold; font-size:16px; color:#696666; background:#242221">SaintIC</a></li>
          <li><a href="/">杨青博客网站</a></li>
          <li><a href="/">杨青博客网站</a></li>
        </ul>
      </div>
  </ul>

  <div id="copright">SaintIC <a href="/">京ICP备14058611号</a></div>
</div>
