<!doctype html>
<html>
<head>
    <meta charset="utf8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="Keywords" content="SaintIC" >
    <meta name="Description" content="SaintIC, blog, IT, Python, Shell, JS, CSS, HTML, 运维, 开发" >
    <link href="{{ url_for('static', filename='images/favicon.ico') }}" rel="icon" type="image/x-icon" />
    <link href="{{ url_for('static', filename='images/favicon.ico') }}" rel="shortcut icon" type="image/x-icon" />
    <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
    <!--[if lt IE 9]>
        <script src="{{ url_for('static', filename='js/modernizr.js') }}"></script>
    <![endif]-->
    {% block head %}{% endblock %}
</head>
<body>
{% include "base/header.html" %}
<div class="blank"></div>
<!--article start-->
<div class="article">
  {% block content %}{% endblock %}
  <aside class="navsidebar">
    <div class="vcard"><!--右侧导航栏下格言下个人or团队介绍-->
      <a><img src="{% if teamlogo %}{{ teamlogo }}{% else %}{{ url_for('static', filename='images/org.jpg') }}{% endif %}" class="photo" height="100" width="100"></a>
      <p class="fn">{% if teamname %}{{ teamname }}{% else %}SaintIC{% endif %}</p>
      <p class="url"><a href="{% if teamurl %}{{ teamurl }}{% else %}www.saintic.com{% endif %}" target="_blank">{% if teamurl %}{{ teamurl }}{% else %}www.saintic.com{% endif %}</a></p>
      <p class="address">Beijing, China</p>
      <p class="role">我们在运维、也在开发</p>
    </div>
    <br/>

    <nav><!--右侧额外导航-->
      <ul>
       <li class="js"><a href="http://docs.saintic.com" target="_blank">文档</a></li>
       <li class="ab"><a href="https://github.com/staugur" target="_blank" title="The website author GitHub">staugur</a></li>
       <li class="ly"><a href="http://saintic.github.io" target="_blank">GitHub.io</a></li>
       <li class="msh"><a href="https://me.saintic.com" target="_blank">Me</a></li>
       <li class="xc"><a target="_blank" href="https://pypi.python.org/pypi/s2p" title="Pypi库">Pypi</a></li>
     </ul>
    </nav>

    <div class="geyan"><!--右侧导航栏下格言-->
      <ul id="slider" class="slider">
        <li>{% if teammotto %}{{ teammotto }}{% else %}原谅我一生放荡不羁爱自由{% endif %}</li>
      </ul>
    </div>

    {% block aside %}{% endblock %}
  </aside>
</div>
{% include "base/footer1.html" %}
<script src="{{ url_for('static', filename='js/silder.js') }}"></script>
<script type="text/javascript">
    new slider({id:'slider'})
</script>
</body>
</html>

