{% extends "base/user.html" %}
{% block title %}撰写文章{% endblock %}
{% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script src="/static/ckeditor/ckeditor.js"></script>
{% endblock %}
{% block nav %}
    <li><a href="{{ url_for('index') }}">返回首页</a></li>
    <li><a href="{{ url_for('home', username=username) }}">返回个人中心</a></li>
    <li><a href="{{ url_for('logout') }}">注销</a></li>
<div>
    <form>
        <textarea id="content" class="ckeditor"></textarea>
        <script type="text/javascript">
            CKEDITOR.replace('content', {
                filebrowserUploadUrl: '/ckupload/',
            });
        </script>
        <input type="submit" value="提交文章" />
    </form>
</div>

{% endblock %}

