/* about.html */
.geyan{ background:#f16e50; height:140px; width:100%; margin:10px 0 ;position: relative; overflow:hidden; color:#FFF; }
.geyan p{ margin:40px 20px  0 20px; line-height:30px}
.aboutcon{ width:754px; float:left; line-height:24px;height:750px;box-shadow:#666 1px 1px 5px; }
.aboutcon ul{ padding:20px; text-indent:2em;}
.aboutcon h1{ margin:20px 30px; font-size:32px;font-family: 'Sail', cursive; font-weight:normal}
.aboutcon p{ margin:0  0 20px}
.about_p{ margin:10px 0 0 45px; background:#333}
.about_c{ line-height:24px; padding:0 20px}
/* 相关文章list */
.otherlink ul{ margin:10px 0}
.otherlink li{ line-height:24px; height:24px; display:block; width:290px; float:left; overflow:hidden; margin-right:30px}
.otherlink li a{ float:left; width:300px;display:block; color:#333;cursor:pointer; overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.otherlink li a:hover{ color:#F00; text-decoration:underline}
/* 最近访客 */
.visitors{width:100%; margin-top:10px}
.visitors h2,.hotcomm h2{border-bottom:#333 2px solid; font-size:14px; line-height:40px; height:40px; color:#383734}
.visitors ul{ margin:10px}
/* 热评list */
.hotcomm ul{ list-style-type:none; background:url(../images/libg.png) 0 -395px no-repeat; margin-top:10px}
.hotcomm ul li a{ display:block; color:#525252; padding-left:30px;cursor:pointer; overflow: hidden;white-space: nowrap;text-overflow: ellipsis; line-height:36px; height:36px; overflow:hidden }
.hotcomm ul li a:hover{ text-decoration:underline; color:#F00}

/* 未知大小的图片在已知容器中的垂直居中和水平居中 */
.in-qq dd img{margin-top:expression(100-this.height/2);max-height:160px}/* max-height可限制图片的最大高度 */
.in-qq dd p{width:238px;height:158px;border:1px solid #ccc;overflow:hidden;text-align:center;vertical-align:middle;display:table-cell}
/* 未知大小的图片在已知容器中的垂直居中和水平居中 */

.canlist ul{  
overflow:hidden;  
padding:3em; list-style-type:none
} 
.canlist ul h2{  
font-size:10px;  
font-weight:normal; color:#666  
} 
.canlist ul li a{  
text-decoration:none;  
color:#000  ;  
background:#ffc  ;  
display:block; 
padding: 1em; /* Firefox */   
padding:5px; width:150px; height:150px ;
-moz-box-shadow: 5px 5px 7px rgba(33,33,33,1)  ; /* Safari+Chrome */  
-webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7)  ; /* Opera */  
box-shadow: 5px 5px 7px rgba(33,33,33,.7)  ;  
-webkit-transform:rotate(-6deg);  
-o-transform:rotate(-6deg);  
-moz-transform:rotate(-6deg); 
-moz-transition:-moz-transform .15s linear;  
-o-transition:-o-transform .15s linear;  
-webkit-transition:-webkit-transform .15s linear; 
}  
.canlist ul li{  
margin:1em;  
float:left; line-height:20px; 
}  

.canlist ul li:nth-child(even) a{  
-o-transform:rotate(4deg);  
-webkit-transform:rotate(4deg);  
-moz-transform:rotate(4deg);  
position:relative;  
top:5px;  
background:#cfc  ;  
}  
.canlist ul li:nth-child(3n) a{  
-o-transform:rotate(-3deg);  
-webkit-transform:rotate(-3deg);  
-moz-transform:rotate(-3deg);  
position:relative;  
top:-5px;  
background:#ccf  ; 
}  
.canlist ul li:nth-child(5n) a{  
-o-transform:rotate(5deg);  
-webkit-transform:rotate(5deg);  
-moz-transform:rotate(5deg);  
position:relative;  
top:-10px;  
}  


.canlist ul li a:hover,ul li a:focus{  
-moz-box-shadow:10px 10px 7px rgba(0,0,0,.7)  ;  
-webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7)  ;  
box-shadow:10px 10px 7px rgba(0,0,0,.7)  ;  
-webkit-transform: scale(1.25);  
-moz-transform: scale(1.25);  
-o-transform: scale(1.25);  
position:relative;  
z-index:5;  
}  


#tbox{width:47px; height:73px; float:right; position:fixed;
_position:absolute;
_bottom:auto;
_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));
_margin-bottom:10px;
}/*解决IE6下不兼容 position:fixed 的问题*/
#jianyi{ width:47px; height:25px; background:url(../images/suggest.png) no-repeat; position:absolute; bottom:0px; cursor:pointer}
#gotop{ width:47px; height:47px; background:url(../images/top01.png) no-repeat; position:absolute; top:0px; display:none; cursor:pointer} 
#jianyi:hover{ background:url(../images/suggest.png) no-repeat 0px -26px;}
#gotop:hover{ background:url(../images/top02.png) no-repeat;}


