{% extends "base/index.html" %}
{% block title %}SaintIC Team Blog About{% endblock %}
{% block head %}
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Sail' rel='stylesheet' type='text/css'>
{% endblock %}
{% block content %}
<div class="aboutcon">
  <h1>Just about SIC</h1>
  <ul>
      <p>我对茶情有独钟，买什么都喜欢带有淡淡的茶香味，在袅袅的茶气中，泡着茶，提壶、注水、出汤、品尝，自然平静，俨然与茶浑然一体。泡茶和喝茶重要的是用心，只要用心，不一定是昂贵的茶叶，不一定要精雕细刻的茶具，也不需要复杂多变的手法，一样能够泡出清香四溢、韵味十足的好茶。若是感到心烦意乱、孤独寂寞、茫然无助，就为自己泡茶。淡而入心，唯有茶也&hellip;&hellip; </p>
  </ul>
</div>
{% endblock %}
{% block aside %}
    <div class="about_c">网名：DanceSmile | 即步非烟<br>
      生日：1987-10-30<br>
      籍贯：四川省&mdash;成都市<br>
      现居：天津市&mdash;滨海新区<br>
      职业：网站设计、网站制作<br>
      喜欢的书：《红与黑》《红楼梦》<br>
      喜欢的音乐：《burning》《just one last dance》《相思引》<br>
      作品展示：部分作品<br>
      联系方式：Q Q、Email、MSN</div>    
{% endblock %}
