{% extends "base/index.html" %}
{% block title %}SaintIC Team Blog Detail{% endblock %}
{% block head %}
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Sail' rel='stylesheet' type='text/css'>
{% endblock %}
{% block content %}
<div class="aboutcon">
  <h1>{{ blog.title }}</h1>
    <h4>作者: {{ blog.author }}</h4>
    <h4>时间: {{ blog.time }}</h4>
    <h4>标签: {{ blog.tag }}</h4>
    <h4>分类: {{ blog.class }}</h4>
  <ul>
    {{ blog.content }}
    {# blog.content[:180].replace(r'&nbsp&;', '\t').replace(r'&enter&;', '\n').replace(r'&enter&', '\n')|safe #}
  </ul>
</div>
{% endblock %}
