{% extends "base/index.html" %}
{% block title %}SaintIC Team Blog Indexer{% endblock %}
{% block content %}
  <!--正文开始-->
  <div class="content">
    <div class="topblog"><!--推荐文章-->
      <h3><p><span>推荐</span>文章 Nominate</p></h3>
      <img src="{{ url_for('static', filename='images/newpics.jpg') }}" title="" width="315" height="205">
      <ul>
        <li><a href="{{ url_for('api_blog') }}">标题1<span>世界上最幸福的国家是...</span></a></li>
        <li><a href="/">标题2<span>世界上最幸福的国家是...</span></a></li>
        <li><a href="/">标题3<span>世界上最幸福的国家是...</span></a></li>
      </ul>
    </div> 

    <div class="tags"><!--分类-->
        <h2><span>博客</span>分类</h2>
        <ul>
          <li class="blogtype">分类</li>
          {% for class in classes %}
          <li><a href="/">{{ class }}</a></li>
          {% endfor %}
        </ul>
    </div>

    <div class="tags"><!--标签-->
        <h2><span>博客</span>标签</h2>
        <ul>
          <li class="blogtag">标签</li>
          {% for tag in tags %}
          <li><a href="/">{{ tag }}</a></li>
          {% endfor %}
        </ul>
    </div>

    <div class="bloglist"><!--博文-->
        {% for blog in blogs %}
        <!--An article begin-->
        <h2><a href="/blog/{{ blog.id }}.html">{{ blog.title }}</a></h2>
        <ul>
          {{ blog.content[:160] | safe }}
          <p class="readmore">
              <a href="/blog/{{ blog.id }}.html">阅读全文>></a>
          </p>
          <p class="dateview">
              <span>{{ blog.time }}</span>
              <span>作者：{{ blog.author }}</span>
              {% if blog.class %}
                  <span>博客分类：<a href="#" target="_blank">{{ blog.class }}</a></span>
              {% endif %}
              {% if blog.tag %}
                  <span>博客标签：<a href="#" target="_blank">{{ blog.tag }}</a></span>
              {% endif %}
              <span>阅读(229)</span><span>评论(124)</span>
          </p>
        </ul>
        <!--An article begin-->
        {% endfor %}
    </div>
  </div>
  <!--正文结束-->
{% endblock %}
{% block aside %}
   <div class="newbolg"><!--最新推荐-->
      <h2>最新日志</h2>
      <ul class="rank">
        <li class="nh1"><i></i><a target="_blank" href="#">大理双廊小村：避世绝尘的慢生活</a></li>     
        <li class="nh2"><i></i><a target="_blank" href="#">外媒评十大正在消失的世界遗产 中国长城上榜</a></li>     
        <li class="nh3"><i></i><a target="_blank" href="#">沙漠里的奇葩 探秘鄂尔多斯财富迷局</a></li>     
        <!--<li class="n4"><i></i><a></a></li>-->
        <!--<li class="n5"><i></i><a></a></li>-->
      </ul>
   </div>

   <div class="hotcomm"><!--最新评论-->
     <h2>评论大区</h2>
     <ul>         
        <li><a title="不要在上司肩上哭泣" href="#" target="_blank">[欣赏]不要在上司肩上哭泣</a></li>  
        <li><a title="房前种菜，屋后栽花" href="#" target="_blank">[欣赏]房前种菜，屋后栽花</a></li>  
     </ul>    
   </div>

   <div class="share"><!--分享按钮-->
    <h2></h2>
      <p><!-- Baidu Button BEGIN -->
      <div id="bdshare" class="bdshare_t bds_tools_32 get-codes-bdshare">
        <a class="bds_tsina"></a>
        <a class="bds_qzone"></a>
        <a class="bds_tqq"></a>
        <a class="bds_renren"></a>
        <span class="bds_more"></span>
        <a class="shareCount"></a>
      </div>
      <script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=6574585" ></script>
      <script type="text/javascript" id="bdshell_js"></script>
      <script type="text/javascript">
        document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
      </script>
      <!-- Baidu Button END --></p>
   </div>

   <div class="visitors"><!--注册用户访问记录-->
      <h2>最近访客</h2>
      <ul>
      visitor1, visitor2
      </ul>
   </div>
{% endblock %}
